{% extends "base.html" %}
{% load static %}

<!doctype html>
<html lang="zxx">
{% block content %}
<body>
  <!-- breadcrumb start-->
  <!-- <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Shop Single</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="img/product/single-product/product_1.png">
                <img src="{{myproduct.image.url}}" height="500px"/>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>{{myproduct.name}}</h3>
            <h2>{{myproduct.price}} EGP</h2>
            <ul class="list">
              <li>
                <a class="active">
                  <span>Category</span> : {{myproduct.cat_id}}</a>
              </li>
              <li>
                <a> <span>Availibility</span> : In Stock</a>
              </li>
            </ul>
            <p>
                {{myproduct.desc}}
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <!-- <div class="product_count">
                <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="number-increment"> <i class="ti-plus"></i></span>
              </div> -->
              <form method="post" action="{% url 'cart:cart_add' myproduct.id %}" >
                {{cart_product_form}}
                {% csrf_token %}
                <input type="submit" value="Add to cart" class="btn_3">
              </form>
              <!-- <a href="cart/" class="btn_3">add to cart</a> -->
              <!-- <a href="#" class="like_us"> <i class="ti-heart"></i> </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

</body>
{% endblock %}
</html>